@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Neonderthaw&family=Sacramento&family=Splash&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
}
body{
    background: #f9f9f974;
    min-height: 100vh;
    /* overflow:visible; */
    overflow-x: hidden;
    overflow-y: scroll;
}
.offer-btn{
    position:fixed;
    top: 85%;
    right: 20px;
    z-index: 99;
    background-color:white ;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 white; 
}
.offer-btn:hover{
    opacity: 1;
}
.offer-btn-ticket{
    height: 80px;
    width: 80px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2rem;
    color: #359381;
    pointer-events: none;
    margin-right:20rem ;
    /* background-color: #fb774b; */
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0 0.8rem;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background:#359381;
    color: white;
}

.Parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position: fixed;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.Fantasy-text{
    font-family: "Marck Script", cursive;
  font-weight: 500;
  font-size: 7rem;
  /* color: rgb(222, 250, 10); */
  font-style: normal;
}

.Parallax img{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: rgba(1, 81, 65, 0.885);
    padding: 7rem;
    display: flex;
    flex-direction: column;
    margin-bottom: -48px;
}

.sec h2{
    font-size: 3rem;
    color: white;
    margin: bottom 0.8rem;
    text-align: center;
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    margin: 0.5rem;
    padding: 0.5rem;

}
.about-content{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    width: 50%;
    height: 350px;
    
}
.about-content h4{
    font-size: 2rem;
    margin: 0.5rem;
}
.about-content p{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.about-img{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
}
.about-img img{
    height: 300px;
    width:300px;
    margin: 1rem;
    border-radius: 50%;
}

/* footer */
/* Footer Styling */


footer{
  background-color: #222222;
  background: url("https://cdn.vectorstock.com/i/500p/25/66/sea-sharks-sunken-ship-and-fishes-in-underwater-vector-48662566.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  z-index: 10;
  position:absolute;
  width: 100%;
  padding: 5rem;
  /* margin-top: -48rem; */
  /* display: flex; */

}
.fan-img{
    height: 100px;
    width: 100px;
}
footer h5{
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}
footer li{
  padding: 4px;
}
footer li a{
  font-size: 0.8rem;
  color: #fff;
}
footer li a:hover{
  color: #fff;
}
footer p{
  /* color: #999; */
  font-weight: 400;
  color: #ffffffd4;
}
.text-uppercase{
    color: aliceblue;
    font-weight: 600;
}
footer .copyright i{
  color: #1d1d1d;
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}
footer .copyright i:hover{
  color:#fff;
  background-color: #fb774b;
}
.copy-text{color: #fff;}

