@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Neonderthaw&family=Sacramento&family=Splash&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
}
body{
    background: #f9f9f974;
    min-height: 100vh;
    /* overflow:visible; */
    overflow-x: hidden;
  overflow-y: scroll;
}
.offer-btn{
    position:fixed;
    top: 85%;
    right: 20px;
    z-index: 100;
    background-color:white ;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 white; 
}
.offer-btn:hover{
    opacity: 1;
}
.offer-btn-ticket{
    height: 80px;
    width: 80px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2rem;
    color: #359381;
    pointer-events: none;
    margin-right:20rem ;
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0 0.8rem;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background:#359381;
    color: white;
}

.Parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position: fixed;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.Fantasy-text{
    font-family: "Marck Script", cursive;
  font-weight: 500;
  font-size: 7rem;
  /* color: rgb(222, 250, 10); */
  font-style: normal;
}

.Parallax img{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: rgba(1, 81, 65, 0.885);
    padding: 7rem;
    display: flex;
    flex-direction: column;
}

.sec h2{
    font-size: 3rem;
    color: white;
    margin: bottom 0.8rem;
    text-align: center;
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    margin: 0.5rem;
    padding: 0.5rem;

}
.about-content{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    width: 50%;
    height: 350px;
    
}
.about-content h4{
    font-size: 2rem;
    margin: 0.5rem;
}
.about-content p{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.about-img{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
}
.about-img img{
    height: 300px;
    width:300px;
    margin: 1rem;
    border-radius: 50%;
}
