@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Neonderthaw&family=Sacramento&family=Splash&display=swap');

body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
    overflow-x:hidden;
    
    object-position: 500px 100%;
    /* object-position: 0%;
    /* overflow-y:hidden; */
    
}
/* .quest{
  position: absolute;
  z-index: 111;
} */
header{
    position: absolute;
    font-family: 'poppins','sans-serif';
    background:url("https://static.vecteezy.com/system/resources/previews/008/130/445/large_2x/cyan-colored-crumpled-paper-texture-background-for-design-decorative-free-photo.jpg");   
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
  font-size: 2rem;
  color: #359381;
  pointer-events: none;
  margin-right:20rem ;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a{
  text-decoration: none;
  color: #359381;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0 0.8rem;
  font-weight: 600;
  background-color: #fff;
}

.navigation a:hover,
.navigation a.active{
  background:#359381;
  color: white;
}
.offer-btn{
  position:fixed;
  top: 85%;
  right: 20px;
  z-index: 100;
  background-color:white ;
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 #359381; 
  border: 1px solid #359381;
}
.offer-btn:hover{
  opacity: 1;
}
.offer-btn-ticket{
  height: 80px;
  width: 80px;
}
 
/* Explore Section */
#explore-section {
  /* margin: 30px; */
  margin-top: 6.8rem;
   /* background-color: #fb774b; */
   background: url("https://img.freepik.com/premium-vector/amusement-park-with-funfair-attractions-carnival-fairground-rides-cartoon-circus-tent-children-castle-rollercoaster-vector-illustration_461812-839.jpg");
    object-fit:cover;
    /* background-repeat:no-repeat; */
  /* display: none; */
}
#explore-section h2{
  color: #359381;
  height: 2rem;
  margin-left: 42.5%;
  padding: 10px;
}

.event-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 20px 0;
  text-align: center;
  transition: transform 0.3s;
  padding: 20px;
  position: relative;
  border: 0.5px double #FFAAAA; 
  transform: scale(0.9);

}

.event-card:hover {
  transform: scale(1.02);
  /* box-shadow: 2px 2px 10px 5px #359381;  */
    border: 2px solid #FFAAAA; 
}

.event-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.event-details {
  padding-top: 10px;
}

button {
  background-color: #ffd700;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffcc00;
}

  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .event-card {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .event-card {
      width: 90%;
    }
  }
  

  
footer{
  background-color: #222222;
  background: url("https://cdn.vectorstock.com/i/500p/25/66/sea-sharks-sunken-ship-and-fishes-in-underwater-vector-48662566.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  z-index: 10;
  position:absolute;
  width: 100%;
  padding: 5rem;
  /* margin-top: -48px;
  padding-top: -48px; */
  /* display: flex; */

}
.fan-img{
    height: 100px;
    width: 100px;
}
footer h5{
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}
footer li{
  padding: 4px;
}
footer li a{
  font-size: 0.8rem;
  color: #fff;
}
footer li a:hover{
  color: #fff;
}
footer p{
  /* color: #999; */
  font-weight: 400;
  color: #ffffffd4;
}
.text-uppercase{
    color: aliceblue;
    font-weight: 600;
}
footer .copyright i{
  color: #1d1d1d;
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}
footer .copyright i:hover{
  color:#fff;
  background-color: #fb774b;
}
.copy-text{color: #fff;}

